body {
    background-color: #cdf0ec;
}

hr {
    background-color: #cdf0ec;
    border-style: dotted none none none;
    border-color: rgb(197, 197, 197);
    border-width: 5px;
    height: 0px;
    width: 10%;
}

h1 {
    color: #66BFBF;
}

h2 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}